[dialog:children]
dialog-servers
etcd
databases
endpoints
web
turns

#[storage:children]
#ceph
#[logging:children]
#elk
#[monitoring:children]
#prometheus

###

[dialog-servers]

[etcd:children]
etcd-masters
etcd-lb
[etcd-lb]
[etcd-masters]

[databases:children]
postgresql
cassandra

[postgresql:children]
pg-master
pg-slave
[pg-master]
[pg-slave]
[cassandra]

[endpoints]
[endpoints:children]
mobile-endpoints
desktop-endpoints
[mobile-endpoints]
[desktop-endpoints]

[web]
[web:children]
web-frontend
web-backend
[web-frontend]
[web-backend]

[turns]

#[ceph]
#[elk]
#[prometheus]
